<form #registerForm="ngForm" (submit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>

  <hr>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" required name="username" [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" required name="password" [(ngModel)]="model.password">
  </div>

  <div class="form-group">
    <label for="favouriteValue">What is your favourite value?</label>
    <select id="favouriteValue" class="form-control">
      <option *ngFor="let value of valuesFromHome" [value]="value.id">{{value.name}}</option>
    </select>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>